.warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .warning-message {
    background-color: #ffdddd;
    padding: 10px;
    border: 1px solid #ffaaaa;
    color: #ff0000;
    text-align: center;
  }
  